aiofiles             
aiogram              
aiogram-media-group  
aiohttp              
aioschedule          
aiosignal                       
annotated-types     
anyio                
asgiref              
async-timeout       
asyncpg              
attrs               
certifi              
charset-normalizer   
colorama             
distlib              
distro                  
exceptiongroup      
filelock            
frozenlist          
greenlet             
h11                  
httpcore            
httpx               
idna                 
magic-filter         
Mako                 
MarkupSafe          
multidict            
openai               
pip                  
platformdirs         
pydantic             
pydantic_core            
python-dotenv        
regex                
requests            
setuptools          
sniffio              
SQLAlchemy           
sqlparse            
tiktoken            
tqdm                 
typing_extensions   
urllib3             
virtualenv          
yarl                
YooMoney